/*BODY {font-family: Verdana, Geneva, sans-serif;}*/

H1 {font-weight: 900;}

#bizcanvas {
  border: 3px solid black;
  width: 100%;
}

#bizcanvas td {
  vertical-align: top;
  height: 200px;
  width: 200px;
  padding: 6px;
}


#bizcanvas H4 {
  font-size: 1em;
}

#bizcanvas H5 {
  font-weight: 700;
  font-size: 0.7em;
}

#bizcanvas p {
  font-weight: 300;
  font-size: 0.8em;
}

.note {
  padding: 15px;
  background: #F33C61;
  /*color: #fff;*/
  font-size: 14px;
  display: flex;
  /*align-items: center;
  justify-content: center;*/
  box-shadow: 0 2px 6px 1px rgba(0,0,0,.2);
}

.note.blue {
  background: #bad9f9;
}

.note.green {
  background: #d1eb9c;
}

.note.yellow {
  background: #fef993;
}

.note.red {
  background: #fca18e;
}

.note.grey {
  background: #c0c0c0;
}

.square.blue {
  height: 20px;
  width: 20px;
  background-color: #bad9f9;
}
.square.green {
  height: 20px;
  width: 20px;
  background-color: #d1eb9c;
}
.square.yellow {
  height: 20px;
  width: 20px;
  background-color: #fef993;
}
.square.red {
  height: 20px;
  width: 20px;
  background-color: #fca18e;
}
.square.grey {
  height: 20px;
  width: 20px;
  background-color: #c0c0c0;
}