hr {
bottom-top:0px;
bottom-bottom:0px;
width:80%;
}

.dropdown {
  position: relative;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  /*min-width: 300px;*/
  box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
  cursor: pointer;
  padding: 6px 2px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

a {
   margin:0 auto;    
   display:block;
}
#bizcanvas th{
border-left:#ffffff;
border-right:#ffffff;
}

input[type=radio] {
  display: none;
}
input[type=radio]:checked + label span {
  transform: scale(1.25);
}
input[type=radio]:checked + label .red {
  border: 2px solid #711313;
}

input[type=radio]:checked + label .yellow {
  border: 2px solid #816102;
}
input[type=radio]:checked + label .grey {
  border: 2px solid #505a0b;
}
input[type=radio]:checked + label .green {
  border: 2px solid #0e4e1d;
}
input[type=radio]:checked + label .blue {
  border: 2px solid #103f62;
}

label {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
  
}
label:hover span {
  transform: scale(1.25);
}
label span {
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease-in-out;
  border: 1px solid #c0c0c0;
}
label span.red {
  background: #fca18e;
}

label span.yellow {
  background: #fef993;
}
label span.grey {
  background: #c0c0c0;
}
label span.green {
  background: #d1eb9c;
}

label span.blue {
  background: #bad9f9;
}

.titlebc{
font-weight:bold;
margin-bottom:6px;
}

#bizcanvas tr td{
position:relative;
}

div.bc-guide {
  position: absolute;
  bottom: 0px;
  width:100%;
  padding-right:15px;
  text-align:right;
} 